.wp-block-quote {
    color: #000;
}

.wp-block-quote.is-style-fancy-quote {
    color: #4b4b4a;
}

.entry-content>*:not(.woocommerce) {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.entry-content>*.alignwide,
.alignwide {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.entry-content>*.alignfull,
.alignfull {
    max-width: 100%;
}

/** Button styles for both front and backend use */
.editor-styles-wrapper .has-whitebg-background-color {
    border-radius: initial;
}

.has-whitebg-background-color {
    border-radius: initial;
}

.editor-styles-wrapper .has-greenbtnbg-background-color {
    border-radius: initial;
}

.has-greenbtnbg-background-color {
    border-radius: initial;
}

.wp-block-media-text.is-style-spacing {
    margin-top: 2rem;
}

.wp-container-3.is-style-themeoption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}